<html>
  <head>
    <style type="text/css">
      #spinner-container { width: 400px; height: 200px; display: none;}
      #spinner { margin-left: 176px; margin-top: 66px;}
    </style>
  </head>
  <body>
    <div id="flagged-rows-for-modal">

      <div id="spinner-container">
        <img src="/static/img/loadinfo.net.gif" id="spinner">
      </div>

      <div class="table-responsive">
        <table class="table table-condensed" id="non_int_values">
          <h5>please fix non-integer values</h5>
          <thead>
            <tr>
              <th>row</th><th>value</th>
            </tr>
          </thead>
          <tbody>
            {% for rownum, value in egeneid_dict['non_int'] %}
            <tr>
              <td>{{rownum}}</td><td>{{value}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="table-responsive">
        <table class="table table-condensed" id="non_valid_values">
          <h5>please fix these non-valid values</h5>
          <thead>
            <tr>
              <th>row</th><th>value</th>
            </tr>
          </thead>
          <tbody>
            {% for rownum, value in egeneid_dict['not_valid'] %}
            <tr>
              <td>{{rownum}}</td><td>{{value}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="table-responsive">
        <table class="table table-condensed" id="duplicate_values">
          <h5>alert: duplicate entrez gene ids</h5>
          <thead>
            <tr>
              <th>entrez_gene_id</th>
            </tr>
          </thead>
          <tbody>
            {% for item in egeneid_dict['dups'] %}
            <tr>
              <td>{{item}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </body>
</html>

