<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>

  <body>
    <h2>header</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            {% for column_header in preview_dict[0] %}
            <th>
              {{column_header}}
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for i in range(1,5) %}
          <tr>
            {% for item in preview_dict[i] %}
            <td>
              {{item}}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </body>
</html>

