<html>
  <head>
  </head>
  <body>
    <div class="table-responsive">
      <table class="table table-condensed" id="content-first-rows">
        <thead>
          <tr>
            {% for column_header in preview_dict[0] %}
            <th>
              {{column_header}}
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% set num_of_keys = preview_dict.keys()|length %}
          {% for i in range(1,num_of_keys) %}
          <tr>
            {% for item in preview_dict[i] %}
            <td>
              {{item}}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="btn-group">
      <h5>Please select the column that corresponds to Entrez Gene ID</h5>
      <button type="button" class="btn btn-default dropdown-toggle" id="select-header-btn" data-toggle="dropdown">
        Select <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        {% for i in range(preview_dict[0]|length) %}
          <th>
            <li><a href="" class="column-header-selection" name="column-header" value="{i}">{{preview_dict[0][i]}}</a></li>
          </th>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>

