{% extends 'base.html' %}
{% block body %}
<style> .tag-input {margin-left: 10px; display:inline-block; position: absolute;} 
        .display-tags {margin-left: 400px; display: inline-block;}
        .spacer {height: 200px;}
        #display-tag-list {color: #000000;}
        #content-first-rows {font-size: 10;}
</style>
<form role="form" action="" method="POST" enctype="multipart/form-data">
  <h2>Upload a new gene list</h2>
  <div id="form-new-list">
    <div class="form-group">
      <label for="title">List Title</label>
      <input id="title" name="title" class="form-control" placeholder="Enter title" required autofocus />
      <span class="help-block"><font color="red">*</font> required</span>
    </div>
    <div class="form-group">
      <label for="description">List Description</label>
      <input id="description" name="description" class="form-control" placeholder="Describe your list"/>
    </div>
    <div class="form-group">
      <label for="url">URL</label>
      <input type="url" id="url" name="url" class="form-control" placeholder="Optional link to your data"/>
    </div>
    <div class="radio">
      <input type="radio" name="public-list" id="radio-public" class="left-float" value="1" checked>
      <label for="radio-public" class="left-float">This list is publicly visible</label>
      <span class="ui-icon ui-icon-unlocked" class="left-float"></span>
    </div>
    <div class="radio">
      <input type="radio" name="public-list" id="radio-private" class="left-float" value="0">
      <label for="radio-public" class="left-float">This list is private</label>
      <span class="ui-icon ui-icon-locked" class="left-float"></span>
    </div>
    <div class="form-group">
      <label for="InputFile">File input</label>
      <input type="file" name="file" id="InputFile" class="btn btn-danger" value="upload" onChange=validateFile() required />
      <p class="help-block"><font color="red">*</font> required ([tab/comma-delimited].txt or .tsv or .csv)</p>
    </div>
    <div>
      <button type="validate-list" id="validate-list" class="btn btn-warning" data-toggle="modal" data-target="#geneValModal">Validate your list</button>
    </div>
    <p>
    <div id="confirm-list-valid">
    </div>
    <p>
    <div>
     <button id="open-tag-modal" class="btn btn-success" data-toggle="modal" data-target="#addTagModal">Add tags for this list</button>
     <div id="inserted-tags">
       <!-- display tags added from modal -->
     </div>
    </div>
    <p>
    <p>
    <div>
     <button type="submit" id="submit" class="btn btn-success" disabled="disabled">Submit</button>
    </div>
  </div>
</form>

<!-- Add Tags Modal -->
<div class="modal fade" id="addTagModal" tabindex="-1" role="dialog" aria-labelledby="addTagModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title" id="myModalLabel">Categorize your list by adding tags</h4>
      </div>
      <div class="modal-body">
        <div id="addTagModal-body">
          <div class="tag-input">
            <input id="tag-field" class="form-control" class="typeahead" type="text" placeholder="Keywords for your list">
            <button type="button" id="add-tag-button" class="btn btn-default btn-sm">Add Tag</button>
          </div>
          <div class="display-tags">
            <h4>Tags you added:</h4>
            <a id="display-tag-list" href=""></a>
            <!-- added tags injected here -->
          </div>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="cancel-added-tags" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="init-tag-list">Clear all tags</button>
        <button type="button" class="btn btn-success" id="save-added-tags" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Validate Modal -->
<div class="modal fade" id="geneValModal" tabindex="-1" role="dialog" aria-labelledby="geneValModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title" id="myModalLabel">Confirm Entrez Gene ID column</h4>
      </div>
      <div class="modal-body">
        Showing the first 5 rows of your file.  Please select the column that corresponds to Entrez Gene ID.
        <div id="display-first-rows">
        <!-- first 5 rows from uploaded file injected here -->
        </div>
        <div id="display-errors">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="" class="btn btn-success" data-dismiss="modal" disabled="disabled">Confirm</button>
      </div>
    </div>
  </div>
</div>

<script language="javascript" type="text/javascript">

  function openNewTagModal(e) {
    e.preventDefault();
    e.stopPropagation();
    var _self = $(this);
    $(_self.attr('data-target')).modal('show');
  }

  function showFirstRowsInFile(data) {
    document.getElementById("display-first-rows").innerHTML=data;
  }

  // # pseudo code for submit button
  // function geneIdValidated(valid) {
  //   if valid {
  //     $('#submit').removeAttr('disabled')
  //   } else {
  //     $('#submit').attr('disabled', 'disabled')
  //   }
  // }

  function get_radio_value() {
    var radios = document.getElementsByName("public-list");
    var rdValue = null;
    for (var i=0; i<radios.length; i++) {
      var aRadio = radios[i];
      if (aRadio.checked) {
        rdValue = aRadio.value;
      }
    }
    document.getElementByID("radio").innerHTML = rdValue;    
  }

  function validateFile() {
    alert("onChange called");
  }

  // For typeahead box
  function substringMatcher(strs) {
    return function findMatches(q, cb) {
      var matches, substrRegex;
      // an array that will be populated with substring matches
      matches = [];
      // regex used to determine if a string contains the substring `q`
      substrRegex = new RegExp(q, 'i');
      // iterate through the pool of strings and for any string that
      // contains the substring `q`, add it to the `matches` array
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          // the typeahead jQuery plugin expects suggestions to a
          // JavaScript object, refer to typeahead docs for more info
          matches.push({ value: str });
        }
      });
      cb(matches);
    };
  };


  function main() {

    var geneListValidated = 0;

    var radioClick = $("div.radio");
    radioClick.click(get_radio_value);

    // * begin: code for Validate list Modal

    // clicked validate button
    var clickValidateList = $("button#validate-list");
    clickValidateList.click(function(e) {
      $.get("/first_rows/", showFirstRowsInFile);
    });

    // * end: code for Validate list Modal

    // * begin: code for Add Tag Modal

    var newTagList;   //list of saved tags captured from Add Tags Modal
    var tmpTagList;   //list to hold tags in Add Tags Modal - append to newTagList if save is clicked
    
    if (typeof newTagList === 'undefined') {
      newTagList = [];
    }

    var clickAddTags = $("button#open-tag-modal");
    clickAddTags.click(function() {
      tmpTagList = [];
      openNewTagModal;
    });

    var data = {{db_tag_list|tojson}}
 
    $('#tag-field').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'data',
      displayKey: 'value',
      source: substringMatcher(data)
    });

    // Add Tag button
    var selectTag = $("button#add-tag-button");
    selectTag.click(function(){
      var inputVal = document.getElementById("tag-field").value;
      if (inputVal.length > 0) {
        tmpTagList.push(inputVal);   
      }
      if (tmpTagList.length > 0) {
        var forDisplay = newTagList.concat(tmpTagList);
        document.getElementById("display-tag-list").innerHTML=forDisplay;
      }
      else {document.getElementById("display-tag-list").innerHTML="";}
    });

    // Cancel Added Tags button
    var cancelTagList = $("#cancel-added-tags");
    cancelTagList.click(function() {
      tmpTagList = [];
      document.getElementById("display-tag-list").innerHTML=newTagList;
    });

    // Clear All Tags button
    var initTagList = $("#init-tag-list");
    initTagList.click(function() {
      newTagList = [];
      tmpTagList = [];
      document.getElementById("display-tag-list").innerHTML="";
    });

    // Save Tags button
    var saveAddedTags = $("#save-added-tags");
    saveAddedTags.click(function() {
      newTagList = newTagList.concat(tmpTagList);
      tmpTagList = [];
      document.getElementById("inserted-tags").innerHTML='<i>Tags you have added:  </i>'+ newTagList;
    });

    // * end: code for Add Tag Modal

  }

  $(main);

</script>

{% endblock %}

