{% extends 'base.html' %}
{% block body %}
<form role="form">
    <h2>Upload a new gene list</h2>
    <div class="form-group">
        <label for="title">List Title</label>
        <input id="title" name="title" class="form-control" placeholder="Enter title" required autofocus />
        <span class="help-block">* required</span>
    </div>
    <div class="form-group">
        <label for="description">List Description</label>
        <input id="description" name="description" class="form-control" placeholder="Describe your list"/>
    </div>
    <div class="form-group">
        <label for="url">URL</label>
        <input type="url" id="url" name="url" class="form-control" placeholder="Optional link to your data"/>
    </div>
    <div class="form-group">
        <label for="InputFile">File input</label>
        <input type="file" id="InputFile" class="btn btn-danger">
        <p class="help-block">(.txt or .csv)</p>
    </div>
    <div>
        <p>Add module for adding tags here</p>
        <button id="add-tag" class="btn btn-warning">Add tags for this list</button>



    </div>
    <div class="radio">This list is publicly visible
        <input type="radio" name="public" id="Radio-public" value="0" checked><span class="ui-icon ui-icon-unlocked"></span>
    </div>
    <div class="radio">This list is private
        <input type="radio" name="public" id="Radio-private" value="1"><span class="ui-icon ui-icon-locked"></span>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

<div id="blackout-screen" class="blackout-screen">
    <div id="tag-container" class="tag-container">
        <div id="add-tags">
        </div>
        <a id="submit-tag" class="btn btn-default btn-xs" href="">Add Tags</a>
        <a id="cancel-add-tag" class="btn btn-default btn-xs" href="">Cancel</a>
    </div>
</div>

<script language="javascript" type="text/javascript">

    function showListDetail(data) {
        var content = $("div#list-detail");
        content.html(data);
        var showDetail = $("div#blackout-screen");
        showDetail.show();
    }

    function getListDetail() {
        var list_id = $(this).attr('data-button-id');
        $.get("/list_details/" + list_id, showListDetail);
    }

    function hideListDetail() {
        var hideDetail = $("div#blackout-screen");
        hideDetail.hide();
        return false;
    }

    function main() {

        var titleButton = $("button#genelist-title");
        titleButton.click(getListDetail);

        var closeListDetail = $("a#close-list-detail");
        closeListDetail.click(hideListDetail);
    }

    $(main);

</script>

{% endblock %}