{% extends 'base.html' %}
{% block body %}
<form role="form" action="" method="POST" enctype="multipart/form-data">
    <h2>Upload a new gene list</h2>
    <div class="form-group">
        <label for="title">List Title</label>
        <input id="title" name="title" class="form-control" placeholder="Enter title" required autofocus />
        <span class="help-block"><font color="red">*</font> required</span>
    </div>
    <div class="form-group">
        <label for="description">List Description</label>
        <input id="description" name="description" class="form-control" placeholder="Describe your list"/>
    </div>
    <div class="form-group">
        <label for="url">URL</label>
        <input type="url" id="url" name="url" class="form-control" placeholder="Optional link to your data"/>
    </div>
    <div class="form-group">
        <label for="InputFile">File input</label>
        <input type="file" name="file" id="InputFile" class="btn btn-danger" value="upload" required />
        <p class="help-block"><font color="red">*</font> required ([tab/comma-delimited].txt or .tsv or .csv)</p>
    </div>
    <div>
        <button id="add-tag" class="btn btn-warning">Add tags for this list</button>
    </div>
    <div class="radio">
        <input type="radio" name="public-list" id="radio-public" class="left-float" value="1" checked>
        <label for="radio-public" class="left-float">This list is publicly visible</label>
        <span class="ui-icon ui-icon-unlocked" class="left-float"></span>
    </div>
    <div class="radio">
        <input type="radio" name="public-list" id="radio-private" class="left-float" value="0">
        <label for="radio-public" class="left-float">This list is private</label>
        <span class="ui-icon ui-icon-locked" class="left-float"></span>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

<div id="blackout-screen" class="blackout-screen">
    <div id="tag-container" class="tag-container">
        <div id="add-tags">
        </div>
        <a id="submit-tag" class="btn btn-default btn-xs" href="">Add Tags</a>
        <a id="cancel-add-tag" class="btn btn-default btn-xs" href="">Cancel</a>
    </div>
</div>

<script language="javascript" type="text/javascript">

    function showListDetail(data) {
        var content = $("div#list-detail");
        content.html(data);
        var showDetail = $("div#blackout-screen");
        showDetail.show();
    }

    function getListDetail() {
        var list_id = $(this).attr('data-button-id');
        $.get("/list_details/" + list_id, showListDetail);
    }

    function hideListDetail() {
        var hideDetail = $("div#blackout-screen");
        hideDetail.hide();
        return false;
    }

    function get_radio_value() {
        var radios = document.getElementsByName("public-list");
        var rdValue = null;
        for (var i=0; i<radios.length; i++) {
            var aRadio = radios[i];
            if (aRadio.checked) {
                rdValue = aRadio.value;
            }
        }
        document.getElementByID("radio").innerHTML = rdValue;        
    }

    function main() {

        var titleButton = $("button#genelist-title");
        titleButton.click(getListDetail);

        var closeListDetail = $("a#close-list-detail");
        closeListDetail.click(hideListDetail);

        var radioClick = $("div.radio");
        radioClick.click(get_radio_value);

    }

    $(main);

</script>

{% endblock %}