{% extends 'base.html' %}
{% block body %}
  <head>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/typeahead.bundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.js"></script>
    <link rel="stylesheet" href="/static/css/typeahead_examples.css" />
    <style type="text/css">
      #prefetch .tt-dropdown-menu {
        /*margin: 0 20px 5px 20px;*/
        padding: 3px 0;
        border-bottom: 1px solid #ccc;
        /* to make dropdown scrollable add: */
        max-height: 200px; 
        overflow-y: auto; 
      }
    </style>
  </head>

  <body>

    <div id="prefetch">
      <input class="typeahead" type="text" placeholder="Enter search term">
    </div>

    <script>

      var search_terms = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        limit: 10,
        prefetch: {
          url: '../search_index/',
        }
      });
       
      // kicks off the loading/processing of `local` and `prefetch`
      search_terms.initialize();
       
      // passing in `null` for the `options` arguments will result in the default
      // options being used
      $('#prefetch .typeahead').typeahead(null, {
        name: 'search_terms',
        displayKey: 'value',
        // `ttAdapter` wraps the suggestion engine in an adapter that
        // is compatible with the typeahead jQuery plugin
        source: search_terms.ttAdapter(),
        templates: {
          empty: [
            '<div class="empty-message">',
            'Unable to find any terms that match the current query',
            '</div>'
          ].join('\n')
          // per custom-templates example on https://twitter.github.io/typeahead.js/examples/
          // ,
          // suggestion: Handlebars.compile("<p>{{category}}: {{value}}</p>")
        }
      });

    </script>
  </body>
{% endblock %}