{% extends 'base.html' %}
{% block body %}
<div class="table-responsive">
    <table class="table">
        <tr><td>List</td><td>Tags</td><td>Date Created</td><td>List Owner</td></tr>
        {% for key in list_dict %}
        <tr>
            <td>{{list_dict[key]['list_obj'].title}}</td>
            <td>
            {% for tag in list_dict[key]['tag_array'] %}
                <a href = "">{{tag.tag_text}}</a>
            {% endfor %}
            </td>
            <td>{{list_dict[key]['list_obj'].date_created}}</td>
            <td>{{list_dict[key]['list_obj'].username}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

