/* css style and images for table from http://github.com/jplaron/TableSorter */

table.tablesorter {
  font-size: 18px;
  background-color: #fff;
  width: 400px;
  text-align: center;
  border:     1px solid #dbdbdb;
  border-collapse:  collapse;
  color:      #333333;
}

table.tablesorter th {
  padding: 5px;
  background-color:   #f3f3f3 url(../img/headerRowBG.gif) 0 0 repeat-x; 
  padding:        0px 2px 2px 4px;
  height:       22px;
  border:       1px solid #dbdbdb;
}

table.tablesorter .headerSortUp {
  background:     #a8d4e3 url(../img/headerRowBGSortAsc.png) 100% 0 repeat-x;
  color:        #fff;
}

table.tablesorter .headerSortDown {
  background:     #a8d4e3 url(../img/headerRowBGSortDesc.png) 100% 0 repeat-x;
  color:        #fff;
}

table.data td {
  padding:      3px 2px 5px 7px;
  border:       1px solid #dbdbdb;
}

table.data tbody {
  font-size:      14px;
}

table.data tr.even td, table.data tr:nth-child(2n) td  {
  background:     #f5f5f5;
}