{% extends 'base.html' %}
{% block body %}
<h2>Top Selling Melons</h2>

<div id="melon-list">
    {% for melon in melon_list %}
    <div class="melon-summary well">
        <h2><a href="/melon/{{melon.id}}">{{melon.common_name}}</a></h2>
        <a href="/melon/{{melon.id}}">
        <img src="{{melon.imgurl}}">
        </a>
        <h3>{{melon.price_str()}}</h3>
        <a class="btn btn-primary" href="/melon/{{melon.id}}">Details</a>
    </div>
    {% endfor %}
</div>

<div id="blackout-screen" class="blackout-screen">
    <div id="promotion" class="jumbotron">
        <h1>Hot Deal!  All Watermelons on sale, 50% off</h1>
        <a id="close-promotion" href="">Close this window</a>
    </div>
</div>

<div id="dropdown-cart">
    <div id="cart-target">
    </div>
    <a id="cart-close" class="btn btn-xs btn-default" href="">Close</a>
</div>

<script language="javascript" type="text/javascript">

    function showCartSummary() {
        var showCart = $("div#dropdown-cart");
        showCart.show();
    }

    function hideCartSummary() {
        var hideCart = $("div#dropdown-cart");
        showCart.hide();
        return false;
    }

    function hideBlackoutScreen() {
        // javascript:
        // var blackout = document.querySelector("div#blackout-screen");
        // blackout.style.visibility = "hidden";
        // jQuery:
        var blackout = $("div#blackout-screen");
        blackout.hide();
        return false;
    }

    function getCartContents() {
        
    }

    function main() {
        // javascript:
        // var closeLink = document.querySelector("a#close-promotion");
        // closeLink.onclick = hideBlackoutScreen;
        // jQuery:
        var closeLink = $("a#close-promotion");
        closeLink.click(hideBlackoutScreen);

        var hoverToShow = $("a#myMelonCart");
        hoverToShow.mouseover(showCartSummary);

        var hoverClose = $("a#cart-close");
        hoverClose.click(hideCartSummary);
    }

    $(main);

</script>
{% endblock %}
